.mat-elevation-z8{
    margin-top: 20px !important;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-mdc-row{
   background-color: white !important;
  }
  .mat-mdc-cell{
    color: black !important;
  }